.main_menu{
    width:100% !important;
    height: 2vh;
    height: 400px;
    margin-bottom: 0.5%;
}

.main_width{
    width: 75% !important;
}

.main_height{
    width: 25% !important;
}

.fh5co-grid > .menu {
    width: 49% !important;
    margin: 0.5%
}