<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}
<head>
	<title>Login V13</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'join/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'join/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'join/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'join/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'join/css/main.css'%}?ver=1">
<!--===============================================================================================-->
</head>

<body style="background-color: #999999; zoom:68.4%;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url({% static 'join/images/festival.PNG'%});"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
			
				<form class="login100-form validate-form" method="POST" action="{% url 'login' %}">
				{% csrf_token %}

					<span class="login100-form-title p-b-59">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Username...">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									Remember your account
								</span>
							</label>
						</div>		
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn align_center">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Log in
							</button>
						</div>
					</div>

					<div class="social_login ml-auto">
						<div class="p-t-54" class="text-center">
							<span>
								Or Sign Up Using
								<hr>
							</span>
						</div>
						
						
						{% load socialaccount %}
						{% providers_media_js %}

						<div class="flex-c-m m-t-10">
							<a href="#" class="icon-arrow-right">
								<i class="fa fa-facebook mr-5"></i>
								<div id="fb-root"></div>
								<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v4.0&appId=2378868715694561&autoLogAppEvents=1"></script>
							</a>

							<a href="#" class="icon-arrow-right mr-5">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="{% provider_login_url 'google' %}" class="icon-arrow-right">
								<i class="fa fa-google"></i>
							</a>
							
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'join/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'join/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'join/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'join/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'join/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'join/vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static 'join/vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'join/vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'join/js/siginup_main.js'%}"></script>

</body>
</html>